html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

h1,
h2,
h3 {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 1.8675em;
}
h2 {
  font-size: 1.125em;
}
h3 {
  font-size: 0.75em;
}

p {
  font-size: 0.875em;
  line-height: 21px;
  padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
  border-bottom: 3px solid #77a466;
  margin: 0 auto;
}

header h1 {
  padding: 38px 0;
  border-bottom: 3px solid #77a466;
  display: flex;
  justify-content: center;
  margin: 0;
}
header h1 span {
  color: #77a466;
}

header nav {
  padding: 40px 0;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875em;
  list-style: none;
  line-height: 40px;
  margin: auto;
  text-align: center;
}
header nav ul li a {
  text-decoration: none;
  color: #77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.main-image {
  height: auto;
}
.main-image img {
  width: 100%;
  border-bottom: 3px solid #77a466;
}

.main-title {
  height: auto;
}
.main-title h2 {
  text-align: justify;
  padding: 5px 0;
  color: #77a466;
}
.main-title p {
  padding: 0;
  font-size: 1em;
  line-height: 25px;
}

.section-one,
.section-two,
.section-three {
  width: 100%;
  height: auto;
  border-top: 1px solid #eee;
}

.section-one h3 {
  padding: 10px 0;
}

.section-two h3,
.section-three h3 {
  padding: 0px;
}

.section-two p,
.section-three p {
  padding: 0px;
}

.menu {
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 10px 0;
  color: #77a466;
}

.reviews {
  color: #333;
  font-size: 1em;
  line-height: 21px;
}

.address {
  font-size: 1em;
  line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
  border-top: 3px solid #eee;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
footer span {
  font-family: "Galada", cursive;
  text-transform: lowercase;
  color: #77a466;
  font-size: 14px;
}

/***** BREAKPOINTS *****/

@media screen and (min-width: 768px) {
  header h1 {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 3em;
  }

  .section-one,
  .section-two,
  .section-three {
    width: 33%;
    height: 250px;
    border-top: 1px solid #eee;
  }

  .section-one h3 {
    padding: 10px 0;
  }

  .section-two {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  .section-two h3,
  .section-three h3 {
    padding: 10px 30px;
  }

  .section-two p,
  .section-three p {
    padding: 10px 30px;
  }

  footer {
    border-top: 3px solid #eee;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  header h1 {
    border-bottom: none;
    margin: 20px;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  header nav {
    margin: 20px 0;
    padding: 38px 0;
    display: flex;
  }

  header nav ul {
    margin: 0;
    padding: 0;
  }
  header nav ul li {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 0 10px;
    display: inline;
  }

  header nav ul li a {
    text-decoration: none;
    color: #77a466;
  }

  h1 {
    font-size: 2em;
  }

  .section-one,
  .section-two,
  .section-three {
    width: 33%;
    height: 250px;
    border-top: 1px solid #eee;
  }

  .section-one h3 {
    padding: 10px 0;
  }

  .section-two {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  .section-two h3,
  .section-three h3 {
    padding: 10px 30px;
  }

  .section-two p,
  .section-three p {
    padding: 10px 30px;
  }

  footer {
    border-top: 3px solid #eee;
    margin: 0 auto;
    text-align: center;
  }
}
